:root {
  --text-color-main: #212121;
  --text-color: #757575;
  --text-color-hvl: #2196f3;
  --text-color-white: #ffffff;

  --background-color-main: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-gray: #f5f4fa;
  --background-color-hv: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.logo-link-header,
.logo-black,
.menu-link,
.header-contacts-link,
.logo-link-footer,
.logo-white,
.footer-contacts-link {
  text-decoration: none;
}

.menu-list,
.header-contacts,
.features-list,
.work-list,
.team-list,
.footer-contacts,
.clients-list,
.social-list,
.social-list-footer {
  list-style: none;
}

/*======HEADER======*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list {
  display: flex;
  text-align: center;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  text-align: center;
  align-items: center;
}

.logo-link-header {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-hvl);
  margin-right: 94px;
  padding-bottom: 1px;
}

.logo-black {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
}

.menu-link.current {
  color: var(--text-color-hvl);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--text-color-hvl);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-color);
}

.header-contacts-icon {
  display: flex;
}

.header-contacts-text {
  display: block;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.cont-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  padding: 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--text-color-hvl);
  fill: var(--background-color-hv);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*======INDEX-PAGE======*/
/*======HERO======*/

.hero {
  background: var(--background-color-dark);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 696px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--background-color-hv);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  margin-top: 30px;
}

/*======FEATURES======*/

.visualy-hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-title {
  font-weight: bold;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features-icon-thumb {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-gray);
  justify-content: center;
  align-items: center;
}

.features-icon {
  width: 70px;
  height: 70px;
}

/*======WORK======*/

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}
.work-list-item {
  position: relative;
}


.work-img-text {
position: absolute;
bottom: 0;
right: 0;
font-weight: bold;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

display: block;


width: 100%;
height: 70px;
background: rgba(47, 48, 58, 0.8);


}

/*======TEAM======*/

.team {
  background: var(--background-color-gray);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color-main);
  border-radius: 0px 0px 4px 4px;
}

.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  fill: #afb1b8;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: var(--background-color-main);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

/*======CLIENTS======*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-main);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
}

.clients-item-link:hover,
.clients-item-link:focus {
  fill: var(--background-color-hv);
  border-color: var(--background-color-hv);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*======FOOTER======*/

.footer {
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-hvl);
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  margin-top: 20px;
}

.footer-contacts {
  margin-top: 9px;
}

.footer-contacts-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--text-color-hvl);
  
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
}

.right-footer-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-item-footer {
  width: 44px;
  height: 44px;
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: #43444d;
  border-radius: 50%;
  fill: var(--background-color-main);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--background-color-hv);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.right-footer-title {
  padding-top: 12px;
}

.right-footer {
  margin-left: 70px;
}

/*======PORTFOLIO-PAGE======*/

.filters-list,
.portfolio-list {
  list-style: none;
}

.portfolio-list-link {
  text-decoration: none;
}

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*======FILTERS======*/

.filters-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn.current {
  color: var(--text-color-white);
  background-color: var(--background-color-hv);
}

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--text-color-white);
  background: var(--background-color-hv);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*======PORTFOLIO======*/

.portfolio-list-link {
  display: block;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-card-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}
